# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/lib/
/lib64/
!frontend/lib/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script, you want them ignored
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nosenv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
venv/
.venv/
ENV/
env/

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
!deploy/.env.production

# Node / Next.js
node_modules/
/out/
.next/
.docusaurus/
.turbo/

# System Files
.DS_Store
Thumbs.db
*.log
*.sqlite3
*.db
pgdata/
redisdata/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
